function Main.main 0
//  let length =   Keyboard . readInt (    How many numbers? ) ;
push constant 17
function String.new 1
push constant 72
function String.appendChar 1
push constant 111
function String.appendChar 1
push constant 119
function String.appendChar 1
push constant 32
function String.appendChar 1
push constant 109
function String.appendChar 1
push constant 97
function String.appendChar 1
push constant 110
function String.appendChar 1
push constant 121
function String.appendChar 1
push constant 32
function String.appendChar 1
push constant 110
function String.appendChar 1
push constant 117
function String.appendChar 1
push constant 109
function String.appendChar 1
push constant 98
function String.appendChar 1
push constant 101
function String.appendChar 1
push constant 114
function String.appendChar 1
push constant 115
function String.appendChar 1
push constant 63
function String.appendChar 1
call Keyboard.readInt 1
pop local 1
//  let a =   Array . new (    length ) ;
push local 1
call Array.new 1
pop local 0
//  let i =   0 ;
push constant 0
pop local 2
label while-L1-0
push local 2
push local 1
lt
not
if-goto while-L2-1
//  let a [   i ] =   Keyboard . readInt (    Enter a number: ) ;
push constant 15
function String.new 1
push constant 69
function String.appendChar 1
push constant 110
function String.appendChar 1
push constant 116
function String.appendChar 1
push constant 101
function String.appendChar 1
push constant 114
function String.appendChar 1
push constant 32
function String.appendChar 1
push constant 97
function String.appendChar 1
push constant 32
function String.appendChar 1
push constant 110
function String.appendChar 1
push constant 117
function String.appendChar 1
push constant 109
function String.appendChar 1
push constant 98
function String.appendChar 1
push constant 101
function String.appendChar 1
push constant 114
function String.appendChar 1
push constant 58
function String.appendChar 1
call Keyboard.readInt 1
push local 0
push local 2
add
pop pointer 1
pop that 0
//  let sum =   sum +  a [   i ] ;
push local 3
push local 0
push local 2
add
pop pointer 1
push that 0
add
pop local 3
//  let i =   i +  1 ;
push local 2
push constant 1
add
pop local 2
goto while-L1-0
label while-L2-1
//  do Output . printString (    The average is ) ;
push constant 14
function String.new 1
push constant 84
function String.appendChar 1
push constant 104
function String.appendChar 1
push constant 101
function String.appendChar 1
push constant 32
function String.appendChar 1
push constant 97
function String.appendChar 1
push constant 118
function String.appendChar 1
push constant 101
function String.appendChar 1
push constant 114
function String.appendChar 1
push constant 97
function String.appendChar 1
push constant 103
function String.appendChar 1
push constant 101
function String.appendChar 1
push constant 32
function String.appendChar 1
push constant 105
function String.appendChar 1
push constant 115
function String.appendChar 1
call Output.printString 1
pop temp 0
//  do Output . printInt (    sum /  length ) ;
push local 3
push local 1
call Math.divide 2
call Output.printInt 1
pop temp 0
//  return ;
push constant 0
return
