function Bat.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
//           let x =                           Ax ;
//                           Ax
push argument 0
pop this 0
//           let y =                           Ay ;
//                           Ay
push argument 1
pop this 1
//           let width =                           Awidth ;
//                           Awidth
push argument 2
pop this 2
//           let height =                           Aheight ;
//                           Aheight
push argument 3
pop this 3
//           let direction =                           2 ;
//                           2
push constant 2
pop this 4
//           do show ( ) ;
push pointer 0
call Bat.show 1
pop temp 0
//           return                           this ;
//                           this
push pointer 0
return
function Bat.dispose 0
push argument 0
pop pointer 0
//           do Memory . deAlloc (                                           this ) ;
//                               this
push pointer 0
call Memory.deAlloc 1
pop temp 0
//           return ;
push constant 0
return
function Bat.show 0
push argument 0
pop pointer 0
//           do Screen . setColor (                                           true ) ;
//                               true
push constant 0
not
call Screen.setColor 1
pop temp 0
//           do draw ( ) ;
push pointer 0
call Bat.draw 1
pop temp 0
//           return ;
push constant 0
return
function Bat.hide 0
push argument 0
pop pointer 0
//           do Screen . setColor (                                           false ) ;
//                               false
push constant 0
call Screen.setColor 1
pop temp 0
//           do draw ( ) ;
push pointer 0
call Bat.draw 1
pop temp 0
//           return ;
push constant 0
return
function Bat.draw 0
push argument 0
pop pointer 0
//           do Screen . drawRectangle (                                           x ,                               y ,                               x +                 width ,                               y +                 height ) ;
//                               x
push this 0
//                               y
push this 1
//                               x +                 width
push this 0
push this 2
add
//                               y +                 height
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
//           return ;
push constant 0
return
function Bat.setDirection 0
push argument 0
pop pointer 0
//           let direction =                           Adirection ;
//                           Adirection
push argument 1
pop this 4
//           return ;
push constant 0
return
function Bat.getLeft 0
push argument 0
pop pointer 0
//           return                           x ;
//                           x
push this 0
return
function Bat.getRight 0
push argument 0
pop pointer 0
//           return                           x +               width ;
//                           x +               width
push this 0
push this 2
add
return
function Bat.setWidth 0
push argument 0
pop pointer 0
//           do hide ( ) ;
push pointer 0
call Bat.hide 1
pop temp 0
//           let width =                           Awidth ;
//                           Awidth
push argument 1
pop this 2
//           do show ( ) ;
push pointer 0
call Bat.show 1
pop temp 0
//           return ;
push constant 0
return
function Bat.move 0
push argument 0
pop pointer 0
//                           direction =               1
push this 4
push constant 1
eq
not
if-goto IF-FALSE-0
//               let x =                                   x -                   4 ;
//                                   x -                   4
push this 0
push constant 4
sub
pop this 0
//                                   x <                   0
push this 0
push constant 0
lt
not
if-goto IF-FALSE-2
//                   let x =                                           0 ;
//                                           0
push constant 0
pop this 0
goto IF-TRUE-3
label IF-FALSE-2
label IF-TRUE-3
//               do Screen . setColor (                                                       false ) ;
//                                       false
push constant 0
call Screen.setColor 1
pop temp 0
//               do Screen . drawRectangle (                                                       (                                               x +                         width ) +                     1 ,                                       y ,                                       (                                               x +                         width ) +                     4 ,                                       y +                     height ) ;
//                                       (                                               x +                         width ) +                     1
//                                               x +                         width
push this 0
push this 2
add
push constant 1
add
//                                       y
push this 1
//                                       (                                               x +                         width ) +                     4
//                                               x +                         width
push this 0
push this 2
add
push constant 4
add
//                                       y +                     height
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
//               do Screen . setColor (                                                       true ) ;
//                                       true
push constant 0
not
call Screen.setColor 1
pop temp 0
//               do Screen . drawRectangle (                                                       x ,                                       y ,                                       x +                     3 ,                                       y +                     height ) ;
//                                       x
push this 0
//                                       y
push this 1
//                                       x +                     3
push this 0
push constant 3
add
//                                       y +                     height
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
goto IF-TRUE-1
label IF-FALSE-0
//               let x =                                   x +                   4 ;
//                                   x +                   4
push this 0
push constant 4
add
pop this 0
//                                   (                                           x +                       width ) >                   511
//                                           x +                       width
push this 0
push this 2
add
push constant 511
gt
not
if-goto IF-FALSE-4
//                   let x =                                           511 -                       width ;
//                                           511 -                       width
push constant 511
push this 2
sub
pop this 0
goto IF-TRUE-5
label IF-FALSE-4
label IF-TRUE-5
//               do Screen . setColor (                                                       false ) ;
//                                       false
push constant 0
call Screen.setColor 1
pop temp 0
//               do Screen . drawRectangle (                                                       x -                     4 ,                                       y ,                                       x -                     1 ,                                       y +                     height ) ;
//                                       x -                     4
push this 0
push constant 4
sub
//                                       y
push this 1
//                                       x -                     1
push this 0
push constant 1
sub
//                                       y +                     height
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
//               do Screen . setColor (                                                       true ) ;
//                                       true
push constant 0
not
call Screen.setColor 1
pop temp 0
//               do Screen . drawRectangle (                                                       (                                               x +                         width ) -                     3 ,                                       y ,                                       x +                     width ,                                       y +                     height ) ;
//                                       (                                               x +                         width ) -                     3
//                                               x +                         width
push this 0
push this 2
add
push constant 3
sub
//                                       y
push this 1
//                                       x +                     width
push this 0
push this 2
add
//                                       y +                     height
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
label IF-TRUE-1
//           return ;
push constant 0
return
